
/*
 * カットビュー
 */

/* カットグリッドコンテナ */
.dj-mapview-cutgrid-container {
    position: relative;
    overflow-y: scroll;
    flex-grow: 1;
    background-color: #000000;
    display: none;
}

/* カットグリッド */
.dj-mapview-cutgrid {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    z-index: 1;
}

/* カットコンテナ */
.dj-mapview-cutgrid-cut-container {
    position: relative;
    /*width: 130px;*/
}

/* スペース番号レイヤー（サイズ決め打ちにしているのはいつか直す）*/
.dj-mapview-cutgrid-cut-canvas-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 21%;
    border: solid 4px black;
    box-sizing: border-box;
    background-color: #fff;
    font-weight: bold;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* カット画像レイヤー */
.dj-mapview-cutgrid-cut-canvas {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* ブロック名コンテナ */
.dj-mapview-cutgrid-block-container {
    position: relative;
    background-color: lawngreen;
    /*width: 260px;*/
}

/* ブロック名レイヤー */
.dj-mapview-cutgrid-block-canvas {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* カット上にカーソルが乗った際の強調（背景色）*/
.dj-mapview-cutgrid-cut-container:hover {
    background-color: deepskyblue;
}

/* カット上にカーソルが乗った際の強調（背景色の透過）*/
.dj-mapview-cutgrid-cut-canvas:hover {
    opacity: 0.7;
}

/* スペース番号上にカーソルが乗った時に隠す */
.dj-mapview-cutgrid-cut-canvas-overlay:hover {
    opacity: 0;
}

/* 利用しないカットコンテナは隠す */
.dj-mapview-cutgrid-cut-container.dj-mapview-cutgrid-cut-disabled {
    display: none;
}

/* カット画像読み込み中のカットコンテナは暗くする */
.dj-mapview-cutgrid-cut-canvas.dj-mapview-cutgrid-image-loading {
    opacity: 0.2;
}

.dj-day-select-button.selected {
    background-color: darkgray;
}

.dj-block-select-button.selected {
    background-color: darkgray;
}
