
.dj-detail-container {
    display: flex;
    /*padding: 2px;*/
}

/* サークルカットのコンテナ */
.dj-detail-cut-container {
    overflow: hidden;
    text-align: center;
    flex-grow: 1;
}

.dj-detail-cut-canvas {
}

.dj-detail-cut-canvas:hover {
}

.dj-detail-desc-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* スペース・ジャンル・作家名・サークル名＆状況表示のコンテナ */
.dj-detail-name-container {
    display: flex;
    flex-direction: column;
}

/* スペースのコンテナ */
.dj-detail-space-container {
    display: flex;
    flex-direction: row;
}

.dj-detail-space {
    font-weight: bold;
    text-shadow: 2px 2px 1px #D0D0D0;
    color: red;
}

/* 状況表示のコンテナ */
.dj-detail-condition {
    flex-grow: 1;
    text-align: right;
    font-weight: bold;
    color: red;
}

.dj-detail-genre {
    font-size: 60%;
    color: #909090;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dj-detail-author {
    font-size: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dj-detail-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* サークル説明のコンテナ */
.dj-detail-text-container {
    flex-grow: 1;
    padding: 0em 0em 0.2em 0.4em;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: solid thin lightgray;
}

.dj-detail-text {
    font-size: 70%;
}

/* メモ（出品物等）のコンテナ */
.dj-detail-memo-container {
    flex-grow: 1;
    color: red;
    font-weight: bold;
}

/* リンクのコンテナ */
.dj-detail-link-container {
    display: flex;
}

.dj-detail-link {
    text-align: center;
    background-color: #C0C0C0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.dj-detail-link-enabled {
    background-color: #F0F0F0;
    background-image: url("../images/icons-png/home-black.png");
}

.dj-detail-link-icon-pixiv {
    background-image: url('http://www.pixiv.net/favicon.ico');
}

.dj-detail-link-icon-twitter {
    background-image: url('http://twitter.com/favicon.ico');
}

.dj-detail-link-icon-nijie {
    background-image: url('http://nijie.info/icon/favicon.ico');
}

.dj-detail-link-icon-niconico {
    background-image: url('http://www.nicovideo.jp/favicon.ico');
}

.dj-detail-link-icon-google {
    background-image: url('http://www.google.co.jp/favicon.ico');
}

.dj-detail-link-icon-circlems {
    background-image: url('https://portal.circle.ms/favicon.ico');
}

.dj-detail-ccc-container {
    display: flex;
}

/*
 * レスポンシブ
 */

/* 横 */

@media only screen and (orientation:landscape) {

    .dj-detail-container {
        min-width: 20vw;
        max-width: 20vw;
        flex-direction: column;
    }

    .dj-detail-cut-container {
        margin: auto;
        max-height: 15vw;
    }

    .dj-detail-cut-container > div {
        overflow: hidden;
        width: 15vw;
        height: 15vw;
    }

    .dj-detail-cut-canvas {
        height: 100%;
    }

    .dj-detail-desc-container {
        min-height: 15vw;
        max-height: 15vw;
        border-top: solid thin lightgray;
    }

    .dj-detail-name {
    }

    .dj-detail-link-container {
        flex-direction: row;
        border-top: solid thin lightgray;
        height: 3em;
        flex-grow: 1;
        width: 100%;
    }

    .dj-detail-link {
        width: 100%;
        height: 3em;
    }

    .dj-detail-ccc-container {
        flex-direction: column;
    }
}

/* 縦 */

@media only screen and (orientation:portrait) {

    .dj-detail-container {
        min-height: 15vh;
        max-height: 15vh;
        flex-direction: row;
    }

    .dj-detail-cut-container {
        margin: auto;
        max-width: 11vh;
    }

    .dj-detail-cut-container > div {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15vh;
    }

    .dj-detail-cut-canvas {
        width: 10vh;
        height: 14.3vh;
    }

    .dj-detail-desc-container {
        min-width: 15vh;
        max-width: 15vh;
        border-left: solid thin lightgray;
    }

    .dj-detail-name {
    }

    .dj-detail-link-container {
        flex-direction: column;
        border-left: solid thin lightgray;
        width: 3em;
    }

    .dj-detail-link {
        height: 10em;
    }

    .dj-detail-memo-container {
        border-left: solid thin lightgray;
    }

    .dj-detail-ccc-container {
        flex-direction: row;
    }
}
