
/* サイドバーのコンテナ */
.dj-mapview-sidebar-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* お気に入りの下の余白（高さ調整用） */
.dj-mapview-sidebar-padding {
    background-color: #000000;
    box-sizing: border-box;
    border-top: solid gray thin;
}

/*
 * お気に入り一覧
 */

/* お気に入り一覧のコンテナ */
.dj-mapview-favlist-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
}

/* お気に入り一覧 */
.dj-mapview-favlist {
    display: flex;
    flex-direction: column;
}

/* お気に入りアイテムのコンテナ */
.dj-mapview-favitem-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: solid gray thin;
    border-left: solid red 1em;
    padding-left: 1px;
    min-height: 6em;
    max-height: 6em;
}

/* サークル詳細のコンテナ */
.dj-mapview-favitem-detail-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

.dj-mapview-favitem-desc-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

.dj-mapview-favitem-desc-container.dj-item-limited {
    background: lightpink;
}

.dj-mapview-favitem-name-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* スペース番号と状況のコンテナ */
.dj-mapview-favitem-space-container {
    display: flex;
    flex-direction: row;
}

/* スペース番号 */
.dj-mapview-favitem-space {
    font-weight: bold;
    text-shadow: 2px 2px 1px #d0d0d0;
    color: red;
}

/* 状況表示 */
.dj-mapview-favitem-condition {
    flex-grow: 1;
    text-align: right;
    font-weight: bold;
    color: red;
}

/* サークル名 */
.dj-mapview-favitem-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 作家名 */
.dj-mapview-favitem-author {
    font-size: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* サークル説明のコンテナ */
.dj-mapview-favitem-text-container {
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 99;
    border-top: solid thin lightgray;
    display: none;
}

.dj-mapview-favitem-text {
    padding: 0em 0.4em 0em 0.4em;
    font-size: 70%;
}

/* メモ（出品物等）のコンテナ */
.dj-mapview-favitem-memo-container {
    flex-grow: 1;
    border-top: solid thin lightgray;
    display: flex;
    align-items: center;
    font-size: 80%;
    font-weight: bold;
    color: #c00000;
    background: #f3f3f3;
    padding-left: .25em;
}

.dj-mapview-favitem-memo-container.dj-item-checked {
    background: #d3d3d3;
}

/* お気に入りカット画像のコンテナ */
.dj-mapview-favitem-cut-container {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5em;
    max-width: 5em;
}

/* カット画像を指定のサイズに収める */
.dj-mapview-favitem-cut-container > div {
    overflow: hidden;
    width: 3.5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* カットキャンバス */
.dj-mapview-favitem-cut-canvas {
    width: 100%;
}

.dj-mapview-favitem-cut-size {
}

/* お気に入りアイテムの上にカーソルが乗った */
.dj-mapview-favitem-container:hover {
    background-color: aquamarine;
}

/* 選択中のお気に入りアイテム */
.dj-mapview-favitem-container.selected {
    background-color: lightgreen;
}

/*
 *
 */

.dj-mapview-favlist.dj-mapview-mode-favview {
    margin-left: .2em;
}

.dj-mapview-favlist.dj-mapview-mode-favview > .dj-mapview-favitem-container {
    border-left-width: 2em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}


/*
.dj-mapview-favlist.dj-mapview-mode-favview > .dj-mapview-favitem-container > .dj-mapview-favitem-cut-container {
    min-width: 6em;
    max-width: 6em;
    min-height: 6em;
    max-height: 6em;
}

.dj-mapview-favlist.dj-mapview-mode-favview > .dj-mapview-favitem-container > .dj-mapview-favitem-cut-container > div {
    width: 4.2em;
    height: 6em;
}
*/

.dj-mapview-favlist.dj-mapview-mode-favview > .dj-mapview-favitem-container > .dj-mapview-favitem-detail-container {
    flex-direction: row;
}

.dj-mapview-favlist.dj-mapview-mode-favview > .dj-mapview-favitem-container > .dj-mapview-favitem-detail-container > .dj-mapview-favitem-desc-container {
    flex-grow: 0;
    flex-basis: 50%;
}

.dj-mapview-favlist.dj-mapview-mode-favview > .dj-mapview-favitem-container > .dj-mapview-favitem-detail-container > .dj-mapview-favitem-desc-container > .dj-mapview-favitem-text-container {
    display: block;
}

.dj-mapview-favlist.dj-mapview-mode-favview > .dj-mapview-favitem-container > .dj-mapview-favitem-detail-container > .dj-mapview-favitem-memo-container {
    border-top: none;
    border-left: solid thin lightgray;
}
