
.dj-histool-main {
    padding: 0px;
    overflow: auto;
    display: flex;
}

.dj-histool-xxx-container {
    padding: 0px;
    display: flex;
    flex-grow: 1;
}

.dj-histool-hispane-container {
    position: relative;
    overflow: auto;
    flex-grow: 1;
}

.dj-histool-hispane {
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.dj-histool-item {
    margin: 0px;
    padding: 4px;
    font-size: 150%;
    display: flex;
}

.dj-histool-item-count {
    margin-right: 0.5em;
}

.dj-histool-item-datetime {
    margin-right: 0.5em;
}

.dj-histool-item-cond {
    min-width: 2em;
    margin-right: 0.5em;
}

.dj-histool-item-space {
    min-width: 3em;
    margin-right: 0.5em;
}

.dj-histool-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dj-histool-item-author {
    display: none;
}

.dj-histool-item-blank {
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: none;
}

.dj-histool-item-checked {
    background-color: lightgreen;
}

/*
 * レスポンシブ
 */

/* 横 */

@media only screen and (orientation:landscape) {

    .dj-histool-xxx-container {
        flex-direction: row;
    }

    .dj-histool-detail-container {
    }
}

/* 縦 */

@media only screen and (orientation:portrait) {

    .dj-histool-xxx-container {
        flex-direction: column;
    }

    .dj-histool-detail-container {
    }
}
