
/*
 * ページ全体
 */

.dj-mapview-main {
    padding: 0px;
    overflow: auto;
    display: flex;
}

/*
 * メインのコンテンツ
 */

.dj-mapview-main-container {
    padding: 0px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/*
 * 配置図と詳細欄
 */

.dj-mapview-map-container {
    padding: 0px;
    display: flex;
    flex-grow: 1;
}

/*
 * 配置図
 */

/* マップキャンバスのコンテナ */
.dj-mapview-canvas-container {
    position: relative;
    overflow: auto;
    flex-grow: 1;
    background-color: #ffffff;
    box-sizing: border-box;
}

/* 全レイヤー共通 */
.dj-mapview-canvas {
    position: relative;
    top: 0px;
}

/* ポインタが表示されるレイヤー */
.dj-mapview-canvas-overlay {
    position: absolute;
    z-index: 6;
}

/* 配置図のレイヤー */
.dj-mapview-canvas-map {
    position: absolute;
    z-index: 4;
}

/* お気に入りのレイヤー */
.dj-mapview-canvas-fav {
    position: absolute;
    z-index: 2;
}

/* ジャンルのレイヤー */
.dj-mapview-canvas-genre {
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}

/* 配置図透過 70% */
.dj-mapview-canvas-transparent-70 {
    opacity: 0.3;
}

/* 配置図非表示 */
.dj-mapview-canvas-hide {
    display: none;
}

/*
 * サークル詳細欄
 */

.dj-mapview-detail-container {
    flex-grow: 1;
    overflow: hidden;
    padding: 0px;
    box-sizing: border-box;
    border-top: solid gray thin;
}

/*
 * サイドバー → favview.css
 */


/*
 * カット一覧 → cutview.css
 */

/*
 * 検索 → searchview.css
 */

/*
 * レスポンシブ
 */

/* 横向き */

@media only screen and (orientation:landscape) {

    .dj-mapview-map-container {
        flex-direction: row-reverse;
    }

    .dj-mapview-detail-container {
        min-width: 15vh;
        flex-direction: column;
        border-right: solid gray thin;
        border-top: none;
    }

    .dj-mapview-sidebar-container {
        min-width: 20vw;
        max-width: 20vw;
        border-left: solid gray thin;
    }

    .dj-mapview-sidebar-padding {
        display: none;
    }

    /*
     * 配置図ビューモード以外で共通
     */

    .dj-mapview-map-container.dj-mapview-mode-favview, .dj-mapview-map-container.dj-mapview-mode-cutview, .dj-mapview-map-container.dj-mapview-mode-searchview {
        flex-direction: column-reverse;
        min-width: 20vw;
        max-width: 20vw;
    }

    .dj-mapview-canvas-container.dj-mapview-mode-favview, .dj-mapview-canvas-container.dj-mapview-mode-cutview, .dj-mapview-canvas-container.dj-mapview-mode-searchview {
        min-height: 20vw;
        max-height: 20vw;
        border-top: solid gray thin;
        border-right: solid gray thin;
    }

    /*
     * カットビュー・検索ビューで共通
     */

    .dj-mapview-main-container.dj-mapview-mode-cutview, .dj-mapview-main-container.dj-mapview-mode-searchview {
        flex-direction: row;
    }

    .dj-mapview-map-container.dj-mapview-mode-cutview, .dj-mapview-map-container.dj-mapview-mode-searchview {
        max-width: 20vw;
        min-width: 20vw;
    }

    .dj-mapview-sidebar-container.dj-mapview-mode-cutview, .dj-mapview-sidebar-container.dj-mapview-mode-searchview {
        display: none;
    }

    /*
     * お気に入りビューモード
     */
    .dj-mapview-main-container.dj-mapview-mode-favview {
        flex-grow: 0;
    }

    .dj-mapview-sidebar-container.dj-mapview-mode-favview {
        flex-grow: 1;
        max-width: 100%;
        border-left: none;
    }

    /*
     * カットビューモード
     */

    .dj-mapview-cutgrid-container.dj-mapview-mode-cutview {
        display: block;
    }

    /*
     * サーチビューモード
     */

    .dj-mapview-search-container.dj-mapview-mode-searchview {
        display: flex;
    }
}

/* 縦向き */

@media only screen and (orientation:portrait) {

    .dj-mapview-map-container {
        flex-direction: column;
    }

    .dj-mapview-detail-container {
        min-height: 100%;
        max-height: 100%;
        flex-direction: row;
    }

    .dj-mapview-sidebar-container {
        min-width: 30vw;
        max-width: 30vw;
        border-left: solid gray thin;
    }

    .dj-mapview-sidebar-padding {
        min-height: 15vh;
        max-height: 15vh;
    }

    /*
     * 配置図ビューモード以外で共通
     */

    .dj-mapview-main.dj-mapview-mode-favview, .dj-mapview-main.dj-mapview-mode-cutview, .dj-mapview-main.dj-mapview-mode-searchview {
        flex-direction: column-reverse;
    }

    .dj-mapview-main-container.dj-mapview-mode-favview, .dj-mapview-main-container.dj-mapview-mode-cutview, .dj-mapview-main-container.dj-mapview-mode-searchview {
        flex-direction: column-reverse;
    }

    .dj-mapview-map-container.dj-mapview-mode-favview, .dj-mapview-map-container.dj-mapview-mode-cutview, .dj-mapview-map-container.dj-mapview-mode-searchview {
        flex-direction: row-reverse;
        min-height: 15vh;
        max-height: 15vh;
    }

    .dj-mapview-canvas-container.dj-mapview-mode-favview, .dj-mapview-canvas-container.dj-mapview-mode-cutview, .dj-mapview-canvas-container.dj-mapview-mode-searchview {
        min-width: 30vw;
        max-width: 30vw;
        border-top: solid gray thin;
        border-left: solid gray thin;
    }

    /*
     * カットビュー・検索ビューで共通
     */

    .dj-mapview-sidebar-container.dj-mapview-mode-cutview, .dj-mapview-sidebar-container.dj-mapview-mode-searchview {
        display: none;
    }

    /*
     * お気に入りビューモード
     */

    .dj-mapview-main-container.dj-mapview-mode-favview {
        flex-grow: 0;
        min-height: 15vh;
    }

    .dj-mapview-sidebar-container.dj-mapview-mode-favview {
        max-width: 100%;
        border-left: none;
        flex-grow: 1;
    }

    .dj-mapview-sidebar-padding.dj-mapview-mode-favview {
        display: none;
    }

    .dj-mapview-sidebar-container.dj-mapview-mode-favview > .dj-mapview-favlist-container {
        /* FIXME */
        height: 0;
    }

    /*
     * カットビューモード
     */

    .dj-mapview-cutgrid-container.dj-mapview-mode-cutview {
        display: block;
        /* FIXME */
        height: 0;
    }

    /*
     * サーチビューモード
     */

    .dj-mapview-search-container.dj-mapview-mode-searchview {
        display: flex;
    }

    .dj-mapview-search-container.dj-mapview-mode-searchview > .dj-mapview-search-result {
        /* FIXME */
        height: 0;
    }
}

/*
 * スマホで横向き
 */

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {

    .dj-mapview-favitem-cut-size {
    }

    .dj-mapview-sidebar-container.dj-mapview-mode-favview {
    }

}

/*
 * スマホで縦向き
 */

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {

    .dj-mapview-favitem-cut-size {
    }

    .dj-mapview-sidebar-container.dj-mapview-mode-favview {
    }

}