
/*
 * 検索
 */

/* 検索ペーン */
.dj-mapview-search-container {
    position: relative;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 8px;
}

/* 検索テキストボックスのコンテナ */
.dj-mapview-search-input-container {
    min-height: 6em;
    max-height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 検索テキストボックス */
.dj-mapview-search-input-text {
    font-size: 1.5em;
    flex-grow: 1;
    margin-left: 8px;
}

.dj-mapview-search-input-button {
    padding: 0.5em;
}

/* 検索ボタン */
.dj-mapview-search-input-button > div {
    min-width: 4em;
    font-size: 1.2em;
}

/* 検索結果一覧のコンテナ */
.dj-mapview-search-result-container {
    margin: 8px;
    position: relative;
    overflow-y: scroll;
    flex-grow: 1;
    text-shadow: none;
}

/* 検索結果一覧リスト */
.dj-mapview-search-result {
    display: flex;
    flex-direction: column;
    /* FIXME */
    height: 0;
}

/* 検索結果アイテム */
.dj-mapview-search-item {
    margin: 0px;
    padding: 4px;
    font-size: 150%;
    display: flex;
    border-left: solid whitesmoke 1.5em;
}

.dj-mapview-search-item-space-container {
    display: flex;
    flex-direction: row;
}

.dj-mapview-search-item-count {
    min-width: 2em;
    font-size: 60%;
}

.dj-mapview-search-item-date {
    min-width: 3em;
}

.dj-mapview-search-item-space {
    min-width: 4em;
    font-weight: bold;
    text-shadow: 2px 2px 1px #D0D0D0;
    color: red;
}

.dj-mapview-search-item-name-container {
    display: flex;
    flex-direction: row;
}

.dj-mapview-search-item-name {
    font-weight: bold;
}

.dj-mapview-search-item-author {
    font-size: 75%;
}

.dj-mapview-search-item-blank {
    min-width: 1.5em;
    text-align: center;
}

.dj-mapview-search-item:hover {
    background-color: aquamarine;
}


.dj-mapview-search-item.selected {
    background-color: lightgreen;
}


/*
 * レスポンシブ
 */

/* 横 */

@media only screen and (orientation:landscape) {

    .dj-mapview-search-item-name-container {
        align-items: center;
    }

}

/* 縦 */

@media only screen and (orientation:portrait) {

    .dj-mapview-search-item-name-container {
        align-items: flex-start;
    }

}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {

    .dj-mapview-search-item-space-container {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .dj-mapview-search-item-date {
        font-size: 75%;
    }

    .dj-mapview-search-item-name-container {
        flex-direction: column;
    }

    .dj-mapview-search-item-blank {
        display: none;
    }

    .dj-mapview-search-item-author {
    }
}