
@import url("djcrdview/mapview.css");
@import url("djcrdview/cutview.css");
@import url("djcrdview/favview.css");
@import url("djcrdview/searchview.css");
@import url("djcrdview/histool.css");
@import url("djcrdview/descbar.css");

/* その他 */

html {
    overflow-y: hidden;
    height: 100%;
}

.ui-controlgroup-controls {
    width: 100% !important;
}

/* panelの中だけスクロール */

.ui-panel.ui-panel-open {
    position:fixed;
}

.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* 部品 */

.dj-page-header-btn-left, .dj-page-header-btn-right {
    width: 6em;
}

/* Naviパネル */

.dj-navpanel-enabler-container,.dj-navpanel-selector-container {
    padding: 2px 0px 0px 2px !important;
}

.dj-navpanel-enabler,.dj-navpanel-selector {
    margin: 0px !important;
}

.dj-navpanel-enabler > input + span, .dj-navpanel-selector {
    margin: 0px 2px 2px 0px !important;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-shadow: none !important;
}

.dj-navpanel-enabler > input {
    display: none !important;
}

.dj-navpanel-enabler > input:checked + span {
    box-shadow: 3px 3px 6px #222 inset;
}

/* */

.dj-favedit-title {
    font-weight: bold;
    text-shadow: 2px 2px 1px #D0D0D0  !important;
    color: red !important;
}

/* ダイアログ */

.dj-dyn-dialog {
    min-width: 60vw;
    max-width: 60vw;
}

.dj-dyn-dialog-chechbox-container {
    margin: 16px 4px 4px;
}

.dj-dyn-dialog-two-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dj-dyn-dialog-two-buttons-container > div {
    flex-basis: 48%;
}

.dj-dyn-dialog-three-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dj-dyn-dialog-three-buttons-container > div {
    flex-basis: 32%;
}


.dj-dyn-dialog-button-container {
    margin: 24px 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dj-dyn-dialog-button-container > a {
    flex-grow: 1;
    margin: 0em 0.5em;
}

.dj-dyn-dialog-progressbar {
    width: 100%;
}

/* 発行物編集ダイアログ */

.dj-pubs-edit-dialog {
    min-width: 90vw;
    max-width: 90vw;
}

.dj-pubs-edit-dialog > article {
    padding-top: 4px;
}

.dj-pubs-item-container {
    padding: 0px !important;
    margin: 2px !important;
    border: none !important;
}

.dj-pubs-item {
    border-top: solid thin lightgray;
    display: flex;
    flex-direction: row;
}

.dj-pubs-item-desc {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.dj-pubs-item-title {
    font-weight: bold;
    font-size: 110%;
    margin: 8px 2px;
}

.dj-pubs-item-detail {
    display: flex;
    flex-direction: row;
    margin: 2px 4px;
}

.dj-pubs-item-mark {
    font-weight: bold;
    width: 2.2em;
    border-radius: 0.5em;
    background-color: lightgray;
    color: red;
    margin: 0px 2px;
    padding: 0.2em;
    text-align: center;
}

.dj-pubs-item-num {
    font-weight: bold;
    width: 2em;
    border-radius: 0.5em;
    margin: 0px 2px;
    padding: 0.2em;
    text-align: center;
}

.dj-pubs-edit-desc {
    overflow: auto !important;
    resize: none !important;
}

.dj-pubs-edit-url-text {
    font-size: 80%;
}

.dj-textarea-noresize {
    overflow: auto !important;
    resize: none !important;
}

/* パネルの幅（ヘッダーのボタンの幅より短いとタップしても開かない時があるので拡張） */
.ui-panel-open.ui-panel-position-right, .ui-panel-open.ui-panel-position-left {
    width: 28em;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
    right: 28em;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 28em;
}

/* モバイルデバイス用設定 */

@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {

    body {
        font-size: 1.5rem;
    }

    /* ボタン */
    .ui-btn {
        font-size: 1.5rem !important;
    }

    .dj-pubs-item {
        font-size: 3rem !important;
    }

    /* ヘッダ（大きくする） */
    .dj-page-header {
        height: 9vh !important;
    }

    /* ヘッダの左右のボタン（大きくする） */
    .dj-page-header-btn-left, .dj-page-header-btn-right {
        padding: 0px !important;
        height: 8vh !important;
    }

    /* パネルのイネーブラーボタン＆セレクトボタン */
    .dj-navpanel-enabler > span, .dj-navpanel-selector {
        font-size: 3rem !important;
    }

    /* パネルの通常ボタン（押しミスするので間隔を空ける） */
    .dj-panel-button-container > li {
        /*margin-bottom: 1rem;*/
    }

    /* パネルの通常ボタン（大きくする） */
    .dj-panel-button-container > li > a {
        font-size: 3rem !important;
    }

    /*
    .ui-panel-inner > ul > li > a {
        padding: 1.5em !important;
    }
    */

    /*
    .dj-navpanel-enabler > input + span {
        font-size: 2em;
    }
    */
}

